# Core functionality - changes here should be rare!
/src/app.py                   @vijaya-sahithi
/src/backend/database.py      @vijaya-sahithi
/src/backend/routers/auth.py  @vijaya-sahithi

# The frontend will need refactored soon to be more object oriented.
/src/static/   @vijaya-sahithi
